.additional__title {
  display: flex;
  align-items: center;
  flex-basis: auto;
  font-size: 24px;
  line-height: 1;
  padding-top: 25px;
  padding-bottom: 36px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    padding: 0;
    padding-bottom: 78px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 81px;
  }
}

.additional__wrapper {
  .wrapper ();
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 895px 245px;
    grid-template-rows: auto;
    column-gap: 79px;
    margin-bottom: 86px;
  }
}

.additional__list {
  display: grid;
  .list ();

  @media (min-width: @desktop-width) {
    width: 895px;
    margin-right: 79px;
  }
}

.additional__item {
  border-top: 1px solid @special_grey;

  &:last-child {
    border-bottom: 1px solid @special_grey;
  }

  @media (min-width: @tablet-width) {
    padding: 0 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}
