.button {
  display: inline-block;
  width: 100%;
  color: @basic_white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: @basic_green;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: rgba(@basic_white, 0.3);
    background-color: @basic_green-2;
  }
}
