.contact-data__title {
  font-size: 24px;
  line-height: 1.08;
  width: 100%;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 73px;
  }
}

.contact-data__wrapper {
  .wrapper();

  @media (min-width: @tablet-width) {
    padding: 0 67px 0 71px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    display: flex;
    flex-wrap: wrap;
    gap: 78px;
  }
}

.contact-data__item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    gap: 16px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.contact-data__icon {
  position: absolute;
  top: 16px;
  right: 15px;

  &--email {
    top: 16px;
    right: 15px;
    stroke: @special_dark-grey-2;
    fill: @special_dark-grey-2;
  }

  &--phone {
    top: 13px;
    right: 13px;
    fill: @basic_black;
  }

  @media (min-width: @tablet-width) {
    &--email {
      top: 19px;
      right: 20px;
    }

    &--phone {
      top: 16px;
      right: 16px;
    }
  }
}

.contact-data__input--phone:focus + .contact-data__icon {
  fill: @basic_green;
}

.contact-data__input--email:focus + .contact-data__icon {
  stroke: @basic_green;
}
