.contacts {
  &--inner-page {
    background-color: @basic_grey;
  }
  outline: 2px solid rgb(13, 252, 73);
}

.contacts__wrapper {
  .wrapper ();
  display: flex;
  justify-content: space-between;
}

.contacts__text {
  color: @special_dark-grey-3;
  margin: 26px 0;
  width: 50%;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  margin: 26px 0;
}

.contacts__map {
  display: block;
  width: 100%;
}
