.example {
  background-color: @basic_gray-3;
  outline: 2px solid rgb(248, 104, 21);
}

.example__wrapper {
  .wrapper ();
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__text {
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  display: flex;
  margin: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 70px;
}

.example__item:first-child {
  margin-right: 32px;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 9px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  width: 60px;
  text-align: center;
}

.example__costs {
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__changes-list {
  .list ();
  margin-bottom: 15px;
}

.example__changes-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}
