.filter-radio {
  outline: 2px solid rgb(92, 10, 245);
}

.filter-radio__options {
  .list ();
}

.filter-radio__option {
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  margin-bottom: 25px;
  margin-left: 45px;

  &:first-child {
    margin-top: 28px;
  }
}
