.filter-radio {
  @media (max-width: @mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: @special_grey-line;
    }
  }
}

.filter-radio__options {
  .list ();

  @media (min-width: @tablet-width) {
    border: 1px solid @special_grey-3;
    margin-bottom: 75px;
  }
}

.filter-radio__option {
  text-transform: uppercase;
  color: @special_dark-grey-2;
  margin-bottom: 25px;
  margin-left: 45px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    margin-left: 88px;
  }

  &:first-child {
    margin-top: 28px;

    @media (min-width: @tablet-width) {
      margin-top: 30px;
    }
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
    }
  }
}

.filter-radio__input + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -45px;
    top: -1px;
  }
}

.filter-radio__input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -34px;
  width: 14px;
  height: 14px;
  background-color: @basic_green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 7px;
    left: -37px;
  }
}
