.guide {
  outline: 2px solid rgba(247, 224, 16);
}

.guide__wrapper {
  .wrapper ();
  margin-bottom: 49px;
}

.guide__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.guide__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.guide__item {
  margin-bottom: 20px;
}

.guide__item:last-child {
  margin-bottom: 0;
}

.guide__description {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  margin-left: 80px;
}
