.header {
  display: flex;
  flex-direction: column;
  outline: 2px solid rgb(6, 228, 62);
}

.header__menu-header,
.header__nav {
  .wrapper ();
}

.header__menu-header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 65px;
}

.header__menu-toggler {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 24px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
}
