.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list ();
  outline: 2px solid rgb(243, 13, 243);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  width: 100%;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: @basic_black;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    font-weight: normal;
    height: 100px;
  }

  @media (min-width: @desktop-width) {
    color: @basic_white;
    font-size: 20px;
    line-height: 1.5;
    height: 178px;
  }
}
