.main-nav {
  position: relative;
  display: flex;
  width: auto;

  @media (max-width: @mobile-width-only) {
    &--opened {
      display: block;
    }

    &--closed {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    width: 50%;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    z-index: 10;
    min-height: 80vh;
    background-color: @basic_white;
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: @mobile-width-only) {
    position: static;
    display: flex;
    flex: auto;
    min-height: 0;
  }
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  .list ();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  @media (min-width: @tablet-width) {
    margin-right: 35px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--current a {
      text-decoration: underline 2px solid @basic_green;
      text-underline-offset: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 32px;
  }
}

.main-nav__item--current .main-nav__link--main {
  @media (min-width: @desktop-width) {
    text-decoration: underline 2px solid @basic_white;
    text-underline-offset: 8px;
  }
}


.main-nav__link {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: @basic_black;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: @special_grey-4;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;

    &--main {
      color: @basic_white;
    }
  }
}
