.map {
  border: none;
  width: 100%;
  background-color: @basic_grey-2;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    min-height: 400px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
  }
}
