.map {
  position: relative;
  border: none;
  width: 100%;
  background-color: @basic_grey-2;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    min-height: 400px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
  }
}

.map-static {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: calc(50% - 320px / 2);
  z-index: -1;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
    margin-left: calc(50% - 768px / 2);
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin-left: calc(50% - 1440px / 2);
  }
}
