.offer {
  outline: 2px solid rgb(248, 15, 15);
}

.offer__wrapper {
  .wrapper ();
  background-image: url("../img/offer-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 35px 0;
}

.offer__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 161px;
  padding-top: 187px;
  padding-bottom: 43px;
  text-align: center;
  margin: 0 auto;
  color: @basic_white;
}
