.program-choice {
  outline: 2px solid rgb(248, 15, 15);
}

.program-choice__wrapper {
  .wrapper ();
}

.program-choice__title {
  font-size: 36px;
  line-height: 1;
  padding-top: 27px;
  padding-bottom: 37px;
}

.program-choice__text {
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 39px;
}

.program-choice__form {
  display: flex;
  flex-direction: column;
}
