.promo {
  color: @basic_white;
  background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: 2px solid rgb(21, 55, 248);
}

.promo__wrapper {
  .wrapper ();
  margin-bottom: 20px;
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 25px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 29px;
}

.promo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 3px;
}
