.scale {
  position: relative;
  width: 100%;
}

.scale__bar {
  @media (max-width: @mobile-width-only) {
    padding: 0;
    min-width: 86px;
    height: 14px;
    background-color: @basic_white;
    border: 1px solid @special_grey;
    border-radius: 6px;
  }

  @media (min-width: @tablet-width) {
    min-width: 426px;
    height: 6px;
    background-color: @special_grey;
    border-radius: 6px;
  }
}

.scale__control {
  position: absolute;
  cursor: pointer;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    min-width: 36px;
    width: 36px;
    height: 6px;
    background-color: @basic_green;
    border-radius: 6px;

    &--was {
      top: 4px;
      left: 6px;
    }

    &--became {
      top: 4px;
      right: 6px;
    }
  }

  @media (min-width: @tablet-width) {
    &--circle {
      position: absolute;
      top: -13px;
      left: calc(50% - 20px);
      width: 34px;
      height: 34px;
      border: 1px solid @special_grey;
      background-color: @basic_white;
      border-radius: 50%;
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.16));

      &::after {
        content: "";
        position: absolute;
        top: 11px;
        left: 12px;
        width: 8px;
        height: 8px;
        background-color: @basic_green;
        border-radius: 50%;
      }

      &:hover {
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
      }

      &:active {
        border: 1px solid @basic_green;
      }
    }
  }
}
