.slider {
  @media (min-width: @tablet-width) {
    position: relative;
    height: 511px;
  }
}

.slider__item {
  &--fat {
    display: block;
  }

  &--skinny {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 592px;
    height: 100%;
    top: 0;

    &--fat {
      left: calc(50% - 296px);
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    }

    &--skinny {
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 296px);
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  flex: initial;
  align-items: center;
  margin: 0;
  padding: 0 40px 45px 40px;

  @media (min-width: @tablet-width) {
    padding: 0 66px 60px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px 0 32px;
  }
}

.slider__toggle {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 0;
  border: none;
  background-color: @basic_gray-3;
  cursor: pointer;

  &:first-child {
    margin-right: 17px;
  }

  &:last-child {
    margin-left: 17px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    text-decoration: dotted underline rgba(@basic_black, 0.24) 1px;
    text-underline-offset: 6px;

    &:first-child {
      margin-right: 23px;
    }

    &:last-child {
      margin-left: 23px;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @basic_grey;
  }
}
