.social {
  .list ();
  display: flex;
  justify-content: space-around;
  min-width: 130px;
  width: 100%;
  outline: 2px solid rgb(33, 250, 33);

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 129px;
    height: 33px;
  }
}
